.main-title {
  font-weight: bold;
  font-size: 3.125rem;
}

.second-title {
  font-weight: bold;
  font-size: 1.875rem;
}

.category-title {
  font-weight: bold;
  font-size: 1.25rem;
}

.main-text {
  font-size: 1.25rem;
}

.information-text {
  font-size: 1.25rem;
  color: #6D6D6D
}

.link-text {
  font-size: 1.25rem;
  color: #8258FA;
  text-decoration: underline;
}

.second-text {
  font-size: 1rem;
}