$white-color: #ffffff;
$black-color: #000000;
$purple-light: #5e40b4;
$purple-normal: #8258fa;
$blue-normal: #0500ff;
$blue-dark: #0400b4;
$blue-light-light: #e4f2ff;
$blue-dark-light: #b5dbff;
$grey-app: #c3c3c3;
$grey-border: #d9d9d9;
$grey-table_header: #6d6d6d;
$grey-bg: #f5f5f5;
$error-red: #ff0000;
$error-bg: #fad7d7;
$placeholder: #a5a5a5;
$border-menu: #f1f1f1;
$green-blur: #40BD5B;

$input-border-radius: 5px;
$button-border-radius: 5px;
