$white-color: #ffffff;
$black-color: #000000;
$purple-light: #5E40B4;
$purple-normal: #8258FA;
$blue-normal: #0500FF;
$blue-dark: #0400B4;
$blue-light-light: #E4F2FF;
$blue-dark-light: #B5DBFF;
$grey-app: #C3C3C3;
$grey-border: #D9D9D9;
$grey-table_header: #6D6D6D;
$grey-bg: #f5f5f5;
$error-red: #FF0000;
$error-bg: #f5abab;
$placeholder: #A5A5A5;


$input-border-radius: 5px;
$button-border-radius: 5px;